.bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #333;
}

.li {
    float: left;
}

.li1 a {
	float: left;
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li2 li a:hover {
    background-color: #ddd;
}


.li3 li a.active {
    color: white;
    background-color: #4CAF50;
}

#sign_in
    {
    	background-image: url("TeamCoaching.jpg");
	}
