<!DOCTYPE html>
<html>
  <head>
      <title>Hello</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  <nav>
    <ul class=bar>
      <li class=li ><a class="active" href="#home">logo</a></li> 
      <li class=li1><a href="#news">profil</a></li>
      <li class=li2><a href="#contact">logout</a></li>
      <li><a href="#about">log out</a></li>

    </ul>
  </nav>
  \\
<div class="">
  <img src="">
</div>
<div class="">
  <h4>Add Idea</h4> 
  {{current_user.name}}
  <form action="{{url_for('add_idea')}}"  method='post'>
  <h3 class=""> Idea name </h3> 
  <input type="text" name="idea_name" placeholder="Idea name">
  <br>
  <h3 class=""> Describtion </h3> 
  <input type="text" name="describtion" placeholder="Short Describtion">
  <br>
  <h3 class=""> What are you looking for ? </h3> 
  <input type="text" name="looking_for" placeholder="What are you looking for?">
  <br>
  <h3 class=""> Category</h3> 
  <input type="text" name="category" placeholder="category">
</div>
<div class="publish_button">
  <button type="submit">Publish</button>
  </form>
</div>
  </body>
</html>
