<!DOCTYPE html>
<html>
<style type="text/css">
  input[type=text] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

</style>
  <head>
      <title>Hello</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
<div class="">
  <img src="">
</div>
<div class="">
  <h4>Add Idea</h4> 
  <input type="text" name="Idea_name" placeholder="Idea_name">
  <br>
  <input type="text" name="Short_Describtion" placeholder="Short Describtion">
  <br>
  <input type="text" name="loking for" placeholder="What Do You Need To Make It Work?">
  <br>
</div>
<div class="publish_button">
  <button type="button">Publish</button>
</div>
  </body>
</html>
