<!DOCTYPE html>
<html>
    <head>
      <title>Discover</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
<h1 class="1"> Discover</h3>
<form action="{{url_for('discover')}}", method="post">
<h3 class="">search</h3> <input type="text" name="search" placeholder="search a category"> 
<input type="submit" name="search_now" value="Search">
</form>
 <div id="main">
        {% for idea in ideas %}
          <div class="idea-container">
            <div class="idea-body">
              <a href="{{url_for('show_idea',idea_id=idea.id)}}"><div class="tweet-name">{{idea.name}}</div></a>
            </div>
            <div class="idea-footer">
              <div class="tweet-user">{{idea.description}}</div>
            </div>
          </div>
        {% endfor %}
      </div>
      
    </div>

  </body>
  </html>