<!DOCTYPE html>
<html>
  <head>
      <title>Hello</title>


      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>


  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
<!-- stemped header!-->
<nav class="navbar">
  <div class="container-fluid">
    <img src="">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Discover</a></li>
      <li><a href="#">profile</a></li>
      <li><a href="#">logout</a></li>
      <!--<li><a href="#">Pagexxxxxxxxx 3</a></li>!-->
    </ul>
  </div>
</nav>
<h4>{{idea.name}}</h4> 
<br>
<h5>{{idea.creator}}</h5>
<br>
<p>{{idea.description}}</p>
<br>
<p>{{idea.looking_for}}</p>
<br>
<p>{{likes}}</p>
</div>
<div>
<!--
  <input type="text" name="idea_comment" placeholder="Add a comment">
  <button type="submit" value="Comments" onclick="show_idea()">Comment</button>-->

<form>
  <input type="text" name="comment">
  <input type="submit" name="comment_button" class="">
</form>

</div>
<div class="comments_section">
  <ol>
  </ol>
</div>

<div class="row">
  <div class="comments_title">Comments:</div>
  <div class="show_comments">
  <ul>
  {% for comment in comments %}
    <li>{{comment.name}}</li>
  {% endfor %}
  </ul>
  </div>
</div>

  </body>
</html>
