<!DOCTYPE html>
<html>
  <head>
      <title>Hello</title>


      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  </head>
    <body>
      <h1 class="1"> My Ideas</h3>
 <div id="main">
        {% for idea in my_ideass %}
          <div class="idea-container">
            <div class="idea-body">
              <a href="{{url_for('show_idea',idea_id=idea.id)}}"><div class="tweet-name">{{idea.name}}</div></a>
            </div>
            <div class="idea-footer">
              <div class="tweet-user">{{idea.description}}</div>
            </div>
          </div>
        {% endfor %}
      </div>
      
    </div>

     </body>
</html>
