<!DOCTYPE html>
<html>
  <head>
      <title>Hello</title>

      <style type="text/css"> ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}</style>



      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  </head>
    <body>


    <ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>


      <h1 class="1"> My Ideas</h3>
 <div id="main">
        {% for idea in my_ideass %}
          <div class="idea-container">
            <div class="idea-body">
              <a href="{{url_for('show_idea',idea_id=idea.id)}}"><div class="tweet-name">{{idea.name}}</div></a>
            </div>
            <div class="idea-footer">
              <div class="tweet-user">{{idea.description}}</div>
            </div>
          </div>
        {% endfor %}
      </div>
      
    </div>

     </body>
</html>
