<!DOCTYPE html>
<html>
    <head>
      <title>Hello</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
	</head>
	<body>
	<table>

<!-- Put the <p> on the right, add a picture above it (logo) and put the sign in inputs and shit (seciind div) on the left!! -->

			<div align="left" display="inline" float="left">
				<src="">
				<p>
					Team Starter is a website that <br>
					helps people that have an idea <br>
					and need team members and co-workers <br>
					to help them form their idea into a startup <br>
					or a company to connect with professional people <br>
					who are looking for a job, also the website provides <br>
					the different ideas feedback from professionals <br>
					about the ideas and how they can make it better.<br>
				</p>
			</div>

				<div class="sign_in" align="right" display="inline" float="left">
 					<h3 class="1"> Sign in</h3>
 					<form action='login' method='POST'>
 					<h3 class="3" > email </h3> <input type="text" name="email" placeholder="email">
 					<h3 class="3" > Password </h3> <input type="password" name="pw" placeholder="Password"> <br> <br>
 					<button class="b" type="submit" value="Sign In"> Sign In </button>
 					<p class="p1"> Don't have an account yet? <a href="/sign_up"> <br> Sign Up </a></p>
 					</form>
 				</div>

	</table>

	</body>
</html>
