<!DOCTYPE html>
<html>
    <head>


      <title>Hello</title>



      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
	</head>

	<body class="body_sign_in">

<!-- Put the <p> on the right, add a picture above it (logo) and put the sign in inputs and shit (seciind div) on the left!! -->

			
				
			</div text_align=center>

				<div class="" align="right" display="inline" float="left">
 					<h3 class="enjoy-css" align="left"> Sign in</h3>
          <p class="enjoy-css1">team up your idea</p>
          <br>
          <br>
          <br>
          <div>
 					<form action="{{url_for('login')}}" method='POST'>
          <table align="right">
 					<tr><td><h3 class="enjoy-css2" > Email </h3> </td>
          <td><input type="text" name="email" placeholder="Email" class="input"></td></tr>
 					<tr><td><h3 class="enjoy-css2" > Password </h3> </td>
          <td><input type="password" name="pw" placeholder="Password" class="input"> </td></tr>
          </table>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          
 					<button class="b" type="submit" value="Sign In"> Sign In </button>
          
          <br>
          <br>
 					<p class="enjoy-css3"> Don't have an account yet? <a href="{{url_for('sign_up')}}"> <br> Sign Up </a></p>
          
          
          </form>
          </div>
 				</div>

	</body>
</html>
